<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Genshin Impact</title>
    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@
    <!-- JavaScript Bundle with Popper -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">*@
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">*@
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,800">
    <script src="~/Scripts/scripts.js"></script>
</head>
    

<body>
    <style>
        /*Feature in Homepage*/
        .featurette-divider {
            margin: 4rem 0; /* Space out the Bootstrap <hr> more */
        }

        /* Thin out the marketing headings */
        .featurette-heading {
            font-weight: 300;
            line-height: 1;
            /* rtl:remove */
            letter-spacing: -.05rem;
        }
        /*https://i.ytimg.com/vi/y3yrizZKzaY/maxresdefault.jpg*/
        /*Register css*/
        .card-img-left {
            width: 43%;
            /* Link to your background image using in the property below! */
            background: scroll left url('../Content/Image/RegisterBackground.png');
            background-size: cover;
        }

        .btn-google {
            color: white !important;
            background-color: #ea4335;
        }

        /* Navbar CSS*/
        .navbar {
            background: #000000
        }

        .nav-item::after {
            content: '';
            display: block;
            width: 0px;
            height: 1px;
            background: #fec400;
            transition: 0.4s
        }

        .nav-item:hover::after {
            width: 100%
        }

        .navbar-dark .navbar-nav .active > .nav-link,
        .navbar-dark .navbar-nav .nav-link.active,
        .navbar-dark .navbar-nav .nav-link.show,
        .navbar-dark .navbar-nav .show > .nav-link,
        .navbar-dark .navbar-nav .nav-link:focus,
        .navbar-dark .navbar-nav .nav-link:hover {
            color: #69e0ff
        }

        .nav-link {
            padding: 12px 5px;
            transition: 0.2s
        }
    </style>


    <header>
        <nav class="navbar navbar-expand-md  navbar-dark fixed-top">
            <a class="navbar-brand" href="/home/index">
                <img src="~/Content/Image/Logo.png" alt="Avatar Logo" style="width:100px" />
            </a>
            <button class="navbar-toggler" type="button" data-target="#navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            @if (Session["CurrentUserName"] == null)
            {
                <div class="collapse navbar-collapse justify-content-end">
                    <ul class="nav navbar-nav navbar-expand-sm">
                        <li class="nav-item active"> <a href="/users/login" class="nav-link"> Login </a> </li>
                        <li class="nav-item"> <a href="/users/register" class="nav-link"> Register </a> </li>
                    </ul>
                    }
                </div>
            }
            @if (Session["CurrentUserName"] != null)
            {
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav navbar-expand-sm ">
                        <li class="nav-item active"> <a href="/home/index" class="nav-link"> Home </a> </li>
                        <li class="nav-item"> <a href="/characters/index" class="nav-link"> Character </a> </li>
                        <li class="nav-item"> <a href="/news/index" class="nav-link"> News </a> </li>
                        <li class="nav-item"> <a href="/asks/index" class="nav-link"> Questions </a> </li>
                        <li class="nav-item"> <a href="/feedbacks/index" class="nav-link"> Feedback </a> </li>
                        <li class="nav-item"> <a href="/asks/indexQuestions/@Session["CurrentUserID"]" class="nav-link"> My Questions </a> </li>
                        <li class="nav-item"> <a href="/users/changeProfile/@Session["CurrentUserID"]" class="nav-link"> Change Profile </a> </li>
                    </ul>
                </div>


                <ul class="nav navbar-nav justify-content-end ">
                    <li class="nav-item active">
                        <a href="/users/index" class="nav-link" style="color: orangered ;">
                            @*<img src="@Url.Content(Session"["CurrentUserImg"]")" alt="Avatar Logo" style="width:100px" />*@
                            @Session["CurrentUserName"]
                        </a>
                    </li>
                    <li class="nav-item active"> <a href="/users/logout" class="nav-link"> Logout </a> </li>
                </ul>
            }


        </nav>

    </header>




    @*<div class="navbar navbar-inverse bg-primary navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("GIFanpage", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <div class="nav navbar-nav">
                        @if (Session["CurrentUserName"] == null)
                        {
                            <a href="/users/login" class="w3-bar-item w3-button"><i class="fa fa-user"></i> LOGIN</a>
                            <a href="/users/register" class="w3-bar-item w3-button">REGISTER</a>
                            <li>@Html.ActionLink("Login", "Login", "Users")</li>
                <li>@Html.ActionLink("Register", "Register", "Users")</li>
                        }
                        @if (Session["CurrentUserName"] != null)
                        {
                            <a href="/home/index" class="w3-bar-item w3-button"> Home</a>
                            <a href="/characters/index" class="w3-bar-item w3-button">Characters</a>
                            <a href="/news/index" class="w3-bar-item w3-button">News</a>
                            <a href="/asks/index" class="w3-bar-item w3-button">Questions</a>
                            <a href="/asks/indexquestions/@Session["CurrentUserID"]" class="w3-bar-item w3-button"> My Questions</a>
                            <a href="/feedbacks/create/@Session["CurrentUserID"]" class="w3-bar-item w3-button">Feedbacks</a>
                            <a href="/users/index" class="w3-bar-item w3-button"><i class="fa fa-user"></i> User</a>
                            <a href="/users/logout" class="w3-bar-item w3-button">Logout</a>

                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Genshin Wiki", "Index", "Categories")</li>
                <li>@Html.ActionLink("Playstyle", "Index", "Playstyles")</li>
                <li>@Html.ActionLink("Category", "Index", "Categories")</li>
                <li>@Html.ActionLink("Questions", "Index", "Asks")</li>
                <li>@Html.ActionLink("My Questions", "IndexQuestions", "Asks")</li>
                <li>@Html.ActionLink("Feedback", "Index", "Submissions")</li>
                <li>@Html.ActionLink("Role", "Index", "Roles")</li>
                <li>@Html.ActionLink("User Manager", "Index", "Users")</li>
                <li>@Html.ActionLink("Logout", "Logout", "Users")</li>


                        }



                    </div>
                </div>
            </div>
        </div>*@
<div class="container-fluid" style="padding: 0;">
    @RenderBody()
</div>
   
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>

<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    @*<div class="container-fluid p-2 pb-0">*@
        <!-- Section: Social media -->
        <section class="mb-2">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fa fa-facebook-official w3-hover-opacity"></i>
            </a>

            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fa fa-instagram w3-hover-opacity"></i>
            </a>

            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fa fa-snapchat w3-hover-opacity"></i>
            </a>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fa fa-pinterest-p w3-hover-opacity"></i>
            </a>

            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fa fa-twitter w3-hover-opacity"></i>
            </a>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fa fa-linkedin w3-hover-opacity"></i>
            </a>
        </section>
        <!-- Section: Social media -->
    @*</div>*@
    <!-- Grid container -->
    <!-- Copyright -->

    © 2022 Copyright:
    <a class="text-white" href="https://genshin.hoyoverse.com/vi/home">Genshin Impact</a>
    <!-- Copyright -->
</footer>




