@model IEnumerable<GIFanpage.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<style>
    .search {
        position: relative;
        box-shadow: 0 0 40px rgba(51, 51, 51, .1);
    }

        .search input {
            height: 50px;
            text-indent: 25px;
            border: 2px solid #d6d4d4;
            border-radius: 20px;
        }


            .search input:focus {
                box-shadow: none;
                border: 2px solid blue;
            }

        .search .fa-search {
            position: absolute;
            top: 18px;
            left: 18px;
        }

        .search button {
            position: absolute;
            top: 5px;
            right: 5px;
            height: 40px;
            width: 110px;
            background: blue;
        }

    
</style>

<div style="display: inline-flex; min-width: 100%; margin-bottom: 20px;">
    <div>
        <h2>Category's Question</h2>
    </div>

    <div class="search" style="display: inline-flex; margin-left:auto; align-items: center;">
        <form action="/admin/categoryQuestion/index">
            <i class="fa fa-search"></i>
            <input type="search" name="Search" class="form-control" placeholder="Type to search ">

        </form>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card ">
            <div class="card-header fw-bolder text-capitalize">

                Total Characters: @ViewBag.TotalCategory
                <div class="btn-actions-pane-right">
                    <div role="group" class="btn-group-sm btn-group">

                        <a href="/admin/categoryQuestion/create">
                            <button class="btn btn-primary">Create New</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="align-middle mb-0 table table-borderless table-hover ">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>

                            <th class="text-center">Title</th>
                            <th class="text-center">Description</th>
                            
                        </tr>
                    </thead>
                    @if (ViewBag.Msg == null)
                    {
                        foreach (var item in Model)
                        {
                            <tbody>
                                <tr>
                                    <td class="text-center"># @item.CategoryID</td>

                                    <td class="text-center text-capitalize">@item.CategoryDescription</td>
                                  
                                    <td class="text-center">
                                        <a href="/admin/categoryQuestion/edit?id=@item.CategoryID" style="text-decoration: none;">
                                            <button type="button" id="PopoverCustomT-1" class="btn btn-primary btn-sm"><i class="pe-7s-pen btn-icon-wrapper"> </i></button>
                                        </a>
                                        
                                        <a href="/admin/categoryQuestion/delete?id=@item.CategoryID" style="text-decoration: none;">
                                            <button type="button" id="PopoverCustomT-1" class="btn btn-danger btn-sm"><i class="pe-7s-trash btn-icon-wrapper"> </i></button>
                                        </a>

                                    </td>

                                </tr>
                            </tbody>
                        }
                    }
                    else
                    {
                        <h1 class="jumbotron text-center" style="background-color: white; margin: 40px auto; padding: 40px 0;">@ViewBag.Msg</h1>
                    }
                </table>

            </div>

            @if (ViewBag.Msg == null)
            {
                int PrevPageNo = ViewBag.PageNo - 1;
                if (PrevPageNo <= 0)
                {
                    PrevPageNo = 1;
                }

                int NextPageNo = ViewBag.PageNo + 1;
                if (NextPageNo > ViewBag.NoOfPages)
                {
                    NextPageNo = ViewBag.NoOfPages;
                }



                <div class="d-block text-center card-footer">
                    <ul class="pagination justify-content-center">
                        @if (ViewBag.PageNo == 1)
                        {
                            <li class="page-item disabled">
                                <a class="page-link" href="/admin/categoryQuestion/index?PageNo=@PrevPageNo">Prev</a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" href="/admin/categoryQuestion/index?PageNo=@PrevPageNo">Prev</a>
                            </li>
                        }

                        @for (int i = 0; i < ViewBag.NoOfPages; i++)
                        {
                            if ((i + 1) == ViewBag.PageNo)
                            {
                                <li class="page-item active">
                                    <a class="page-link" href="/admin/categoryQuestion/index?PageNo=@(i + 1)">@( i + 1)</a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="page-link" href="/admin/categoryQuestion/index?PageNo=@(i + 1)">@( i + 1)</a>
                                </li>
                            }
                        }

                        @if (ViewBag.PageNo == ViewBag.NoOfPages)
                        {
                            <li class="page-item disabled">
                                <a class="page-link" href="/admin/categoryQuesiton/index?PageNo=@NextPageNo">Next</a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" href="/admin/categoryQuestion/index?PageNo=@NextPageNo">Next</a>
                            </li>
                        }

                    </ul>

                </div>
            }
        </div>
    </div>
</div>




<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryDescription)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryDescription)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CategoryID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CategoryID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID })
            </td>
        </tr>
    }

</table>
