@model IEnumerable<GIFanpage.Models.Ask>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>
@foreach (var item in Model)
{
<div class="w3-container w3-card w3-white w3-round w3-margin">
    <br>
    <h4><a href="/asks/details?ask=@item.AskID">@item.Title</a></h4><br>
    <p>Upload in: @item.CreateDate by: @item.User.Name</p>

    <form action="/asks/like?ask=@item.AskID&user=@Session["CurrentUserID"]" method="post" class="w3-theme-d1 w3-margin-bottom">
        <input type="hidden" name="UserID" value="@Session["CurrentUserID"]" />
        <input type="hidden" name="AskID" value="@item.AskID" />
        <input type="hidden" name="VoteValue" value="1" />
        <button type="submit" class="w3-button"><i class="fa fa-thumbs-o-up"></i> Like</button>

        @*@if (item.CurrentUserVoteType < 1 && item.UserID != Convert.ToInt32(Session["CurrentUserID"]))
        {
            <form action="/asks/like?ask=@item.IdeaID&user=@Session["CurrentUserID"]" method="post" class="w3-theme-d1 w3-margin-bottom">
                <input type="hidden" name="UserID" value="@Session["CurrentUserID"]" />
                <input type="hidden" name="AskID" value="@item.AskID" />
                <input type="hidden" name="VoteValue" value="1" />
                <button type="submit" class="w3-button"><i class="fa fa-thumbs-o-up"></i> Like</button>
            </form>
        }
        else if (item.CurrentUserVoteType > 0 && item.UserID != Convert.ToInt32(Session["CurrentUserID"]))
        {
            <form action="/asks/dislike?ask=@item.IdeaID&user=@Session["CurrentUserID"]" method="post" class="w3-theme-d1 w3-margin-bottom">
                <input type="hidden" name="UserID" value="@Session["CurrentUserID"]" />
                <input type="hidden" name="AskID" value="@item.AskID" />
                <input type="hidden" name="VoteValue" value="-1" />
                <button type="submit" class="w3-button"><i class="fa fa-thumbs-up"></i> DisLike</button>
            </form>
        }*@
</div>
}