@model GIFanpage.Models.Ask

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    label {
        font-weight: bolder;
    }
</style>

<div class="card">
    <div class="row  d-flex justify-content-center" style="margin: 5%;">
        <div style="display:inline-flex;">
            <h2>Edit Question</h2>
            <div style="margin-left: auto; margin-top: 5px;">
                <a href="/admin/questionManage/index" style="text-decoration: none;">
                    <button class="btn btn-lg btn-primary btn-login fw-bold " type="submit">Back to List</button>
                </a>
            </div>
        </div>
        <hr />


        <form action="/admin/questionManage/edit" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.AskID)
            @Html.TextBoxFor(model => model.CreateDate, new { @Value = DateTime.Now, @type = "hidden" })
            @Html.TextBoxFor(model => model.ViewCount, new { @Value = 0, @type = "hidden" })
            @Html.TextBoxFor(model => model.UserID, new { @Value = Session["CurrentUserID"], @type = "hidden" })



            <div class="row">
                <div class="form-group col-md-8">
                    <label for="Title">Title</label>
                    <input type="text" name="Title" id="Title" value="@Model.Title" class="form-control" required>
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-4" style="margin-top:unset;">
                    <label for="Category">Category</label>
                    @Html.DropDownList("CategoryID", null, htmlAttributes: new { @class = "list-group-item col-md-12", @id = "Category" })
                </div>
            </div>

            <div class="form-group">
                <label for="Description">Description</label>
                <textarea rows="2" name="Description" id="Description" placeholder="@Model.Description" value="@Model.Description" class="form-control" required></textarea>
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
            @if (Model.FilePath != null)
            {
                <div class="form-group">
                    <label class="fw-bolder">Image</label>
                    <br />

                    <input type="file" name="file" class="form-control-file" id="upload-button1" onchange="ShowImagePreview(this, document.getElementById('previewImage'))" required hidden>
                    <label for="upload-button1" class="btn-success p-2" style="border-radius: 10px; cursor: pointer;">
                        <i class="fa fa-download" aria-hidden="true"></i> &nbsp; Choose A Photo
                    </label>

                    <div class="image-card" style="display: flex; margin-top: 10px;">
                        <img src="@Url.Content(Model.FilePath)" width="200" id="previewImage" />
                    </div>
                </div>
            }


            <div class="form-group">
                <label for="summernote">Content</label>
                <textarea rows="3" name="Content" id="summernote" placeholder="abc" class="form-control" required></textarea>
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>

            <div class="form-group" style="margin-bottom: 15px;">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="check" id="toggle" checked value="" required>
                    <label class="form-check-label">
                        Argree with <a href="/home/agree" target="_blank">term of user</a>
                    </label>
                </div>
            </div>

            <button type="submit" class="btn btn-primary fw-bold" id="add-button" style="margin-bottom: 15px;">Save</button>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

<script>
    $('#summernote').summernote({

        tabsize: 2,
        height: 200,
        toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'underline', 'clear']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['table', ['table']],
            ['insert', ['link', 'picture', 'video']],
            ['view', ['fullscreen', 'codeview', 'help']]
        ]
    });

    $('#toggle').click(function () {
        //check if checkbox is checked
        if ($(this).is(':checked')) {

            $('#add-button').removeAttr('disabled'); //enable input

        } else {
            $('#add-button').attr('disabled', true); //disable input
        }
    });
</script>
