@model GIFanpage.Models.User

@{
    ViewBag.Title = "Login";
}

@*@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Login</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <img src="~/Images/user1.jpg" alt="Alternate Text" />

        <div class="form-group">
            @Html.LabelFor(model => model.PasswordHash, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="password" name="PasswordHash" class="form-control" value="" />
                @Html.ValidationMessageFor(model => model.PasswordHash, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>

        <p class="user">Don't have an account?<a href="/Users/Register"> Register </a></p>


    </div>
}*@



<div class="container">
    <div class="row d-flex justify-content-center align-items-center p-5 h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5 pt-5">
            <div class="card bg-info text-white" style="border-radius: 1rem;">
                <div class="container">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 ">
                            <form action="/users/login" method="post">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                                <h5 class="text-white-50 mb-5">Please enter your login and password!</h5>

                                <div class="form-outline form-white mb-4">
                                    <input type="email" id="typeEmailX" name="Email" class="form-control form-control-lg" />
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    <label class="form-label" for="typeEmailX" style="font-size: larger;">Email</label>

                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input type="password" id="typePasswordX" name="PasswordHash" class="form-control form-control-lg" />
                                    @Html.ValidationMessageFor(model => model.PasswordHash, "", new { @class = "text-danger" })
                                    <label class="form-label" for="typePasswordX" style="font-size:larger;">Password</label>
                                </div>

                                <p class="small  pb-lg-2" style="font-size:medium;"> <a class="text-white-50" href="#">Forgot your password ?</a></p>

                                <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>


                            </form>

                        </div>
                        <div>
                            <p class="mb-0">
                                Don't have an account? <a href="/users/register" class="text-white fw-bold" style="font-size:larger;">Register</a>
                            </p>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        
    
