@model GIFanpage.Models.User

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto pt-2">
                <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
                    <div class="card-img-left d-none d-md-flex">
                        <!-- Background image for card set in CSS! -->
                    </div>
                    <div class="card-body p-4 p-sm-5">
                        <h2 class="card-title text-center mb-5 fs-4 fw-bolder">Register</h2>
                        <form action="/users/register" method="post">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-floating mb-3">
                                <input type="text" name="Name" class="form-control" id="floatingInputUsername" placeholder="myusername" required autofocus>
                                <label for="floatingInputUsername">Username</label>
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-floating mb-3">
                                <input type="email" name="Email" class="form-control" id="floatingInputEmail" placeholder="name@example.com">
                                <label for="floatingInputEmail">Email address</label>
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>

                            @Html.TextBoxFor(t => t.RoleID, new { @Value = 2, @type = "hidden" })
                            @Html.ValidationMessageFor(model => model.RoleID, "", new { @class = "text-danger" })

                            <div class="form-floating mb-3">
                                <input type="password" name="PasswordHash" class="form-control" id="floatingPassword" placeholder="Password">
                                <label for="floatingPassword">Password</label>
                                @Html.ValidationMessageFor(model => model.PasswordHash, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group mb-3">
                                <label for="floatingPasswordConfirm" class="fw-bolder">Playstyle</label>
                                @Html.DropDownList("PlaystyleID", null, htmlAttributes: new { @class = "list-group-item col-md" })

                                <input type="text" name="PlaystyleID" class="form-control" id="floatingPasswordConfirm" placeholder="Your style" hidden>
                                @Html.ValidationMessageFor(model => model.PlaystyleID, "", new { @class = "text-danger" })
                            </div>

                            <div class="d-grid mb-2"">
                                <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="submit">Register</button>
                            </div>

                            <a class="d-block text-center mt-2 small" href="/users/login" style="font-size:medium; text-decoration: none;">Have an account? Login</a>
             
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
