@model GIFanpage.Models.Feedback

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card" style="margin-bottom: 30px;">
    <div class="row px-5  d-flex justify-content-center">
        <div class="col-md-10">
            <div style="display:inline-flex; width: 100%;">
                <div>
                    <h2 style="padding-top: 20px;">Feedback Form</h2>
                    <i class="text-secondary" style="font-size: 14px;">
                        Give us your idea about our service.
                    </i>
                </div>
                <a href="/admin/feedbackUser/index" style="text-decoration: none; margin-left: auto; margin-top: 30px;">
                    <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="submit"><i class="pe-7s-back btn-icon-wrapper"> Back to List</i></button>
                </a>
            </div>
            <hr />

            <form action="/admin/feedbackUser/create" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.TextBoxFor(model => model.UserID, new { @Value = Session["CurrentUserID"], @type = "hidden" })
                <div class="row  d-flex justify-content-center">
                    <div class="form-group col-md-12">
                        <label for="CategoryName" class="fw-bolder">Feedback's Title</label>
                        <input type="text" name="FeedbackTitle" class="form-control" placeholder="" id="CategoryName" required style="margin-top:unset;">
                        @Html.ValidationMessageFor(model => model.FeedbackTitle, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-12">
                        <label for="CategoryDescription" class="fw-bolder">Feedback's Content</label>
                        <input type="text" name="FeedbackContent" class="form-control" placeholder="" id="CategoryDescription" required style="margin-top:unset;">
                        @Html.ValidationMessageFor(model => model.FeedbackContent, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-12" style="display: flex; justify-content: flex-start; margin-top: 15px; margin-bottom: 20px;">
                        <button class="btn  btn-primary btn-login fw-bold " type="submit"><i class="fa fa-floppy-o" aria-hidden="true"> Save</i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
