@model IEnumerable<GIFanpage.Models.New>

@{
    ViewBag.Title = "NewInfo";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>NewInfo</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NewsTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewsDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewsImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewsContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NewsTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewsDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewsImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewsContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NewsID }) |
            @Html.ActionLink("Details", "Details", new { id=item.NewsID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NewsID })
        </td>
    </tr>
}

</table>
