@model GIFanpage.Models.Character

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="card" style="margin-bottom: 30px;">
    <div class="row px-5  d-flex justify-content-center">
        <div class="col-md-10">
            <div style="display:inline-flex; width: 100%;">
                <div>
                    <h2 style="padding-top: 20px;">Character's Information Form</h2>
                    <i class="text-secondary" style="font-size: 14px;">
                        Figure out the information of Character in Teyvat world
                    </i>
                </div>
                <a href="/admin/characterInfo/index" style="text-decoration: none; margin-left: auto; margin-top: 30px;">
                    <button class="btn btn-lg btn-primary btn-login fw-bold" type="submit"> Back to List</button>
                </a>
            </div>
            <hr />

            <form action="/admin/characterInfo/create" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row  d-flex justify-content-center">
                    <div class="form-group col-md-6">
                        <label for="CharacterName" class="fw-bolder">Character's Name</label>
                        <input type="text" name="CharacterName" class="form-control" placeholder="" id="CharacterName" required style="margin-top:unset;">
                        @Html.ValidationMessageFor(model => model.CharacterName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-3">
                        <label for="CharacterVision" class="fw-bolder">Vision</label>
                        <input type="text" name="CharacterVision" class="form-control" placeholder="" id="CharacterVision" required style="margin-top:unset;">
                        @Html.ValidationMessageFor(model => model.CharacterVision, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-3">
                        <label for="CharacterRarity" class="fw-bolder">Rarity</label>
                        <input type="text" name="CharacterRarity" class="form-control" placeholder="" id="CharacterRarity" required style="margin-top:unset;">
                        @Html.ValidationMessageFor(model => model.CharacterRarity, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-6">
                        <label for="CharacterName" class="fw-bolder">Birthday</label>
                        <input type="date" name="CharacterBirthday" class="form-control" placeholder="" id="CharacterName" required style="margin-top:unset;">
                        @Html.ValidationMessageFor(model => model.CharacterBirthday, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        <label for="CharacterRegion" class="fw-bolder">Region</label>
                        <input type="text" name="CharacterRegion" class="form-control" placeholder="" id="CharacterRegion" required style="margin-top:unset;">
                        @Html.ValidationMessageFor(model => model.CharacterRegion, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label class="fw-bolder">Content</label>
                        <textarea rows="3" name="CharacterDescription" class="form-control" id="summernote" required></textarea>
                        @Html.ValidationMessageFor(model => model.CharacterDescription, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-6">
                        <label class="fw-bolder">Image Card</label>
                        <br />

                        <input type="file" name="fileCard" class="form-control-file" id="upload-button1" required hidden>
                        <label for="upload-button1" class="btn-success p-2" style="border-radius: 10px; cursor: pointer;">
                             &nbsp; Choose A Photo
                        </label>
                        <div class="image-card" style="display: flex; margin-top: 10px;">
                            <img id="preview-image1" width="200" />
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label class="fw-bolder">Original Image</label>
                        <br />

                        <input type="file" name="fileOriginal" class="form-control-file" id="upload-button2" required hidden>
                        <label for="upload-button2" class="btn-success p-2" style="border-radius: 10px; cursor: pointer;">
                             &nbsp; Choose A Photo
                        </label>
                        <div class="image-card" style="display: flex; margin-top: 10px;">
                            <img id="preview-image2" width="200" />
                        </div>
                    </div>
                    <div class="col-md-12" style="display: flex; justify-content: flex-start; margin-top: 15px; margin-bottom: 20px;">
                        <button class="btn  btn-primary btn-login fw-bold " type="submit">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var uploadBtn1 = document.getElementById("upload-button1");
    var previewImg1 = document.getElementById("preview-image1");

    uploadBtn1.addEventListener("change", function (event) {
        if (event.target.files.length == 0) {
            return;
        }
        var tempUrl1 = URL.createObjectURL(event.target.files[0]);
        previewImg1.setAttribute("src", tempUrl1);
    })


    var uploadBtn2 = document.getElementById("upload-button2");
    var previewImg2 = document.getElementById("preview-image2");

    uploadBtn2.addEventListener("change", function (event) {
        if (event.target.files.length == 0) {
            return;
        }
        var tempUrl2 = URL.createObjectURL(event.target.files[0]);
        previewImg2.setAttribute("src", tempUrl2);
    })
</script>
