@model GIFanpage.Models.Character

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-color: #e6e6e6;
        font-family: Helvetica;
    }

    .breadcrumb-item a {
        text-decoration: none;
        color: #0dcaf0;
        font-size: 16px;
    }

    .col-sm-12 img {
        padding-top: 20px;
    }

    .col-sm-12 p {
        font-weight: bolder;
    }

    .col-sm-12 .text-character {
        display: block;
        
    }

        .col-sm-12 .text-character .text-object {
            display: flex;
            gap: 10px;
        }

        .col-sm-12 .button-footer {
            margin-top: 20px;
        }
</style>

<div class="container px-5 py-2">
    <div class="row  d-flex justify-content-center">
        <h2 class="text-danger">Delete Character infomation</h2>
        <h5><i>Are you sure you want to delete this character ?</i></h5>
        <hr />
        <div class="col-md-11">

        </div>
        <div class="col-sm-12 col-md-6 d-flex justify-content-center">
            <img src="@Url.Content(Model.CharacterImageOriginal)" width="450" />
        </div>
        <div class="col-sm-12 col-lg-1"></div>
        <div class="col-sm-12 col-lg-5" style="padding-left: 20px; padding-top: 20px;">
            <h2>Character: @Model.CharacterName</h2>
            <i>Rarity: @Model.CharacterRarity</i>
            <br />
            <br />
            <div class="text-character">
                <div class="text-object">
                    <p>Vision: </p>@Model.CharacterVision
                </div>
                <div class="text-object"><p>Region: </p>@Model.CharacterRegion</div>
                <div class="text-object"><p>Birthday: </p>@Model.CharacterBirthday.Day / @Model.CharacterBirthday.Month</div>
                <div class="text-object"><p>Description: </p>@Model.CharacterDescription</div>
            </div>
            <div style="display: flex;">
                <p>Image Card: </p> <img style="display: flex; justify-content: center; margin-left: 20px;" src="@Url.Content(Model.CharacterImageCard)" width="100" />
            </div>

            <div class="row button-footer">
                <div class="col-md-6">
                    <div class="d-grid my-3 col-md-12" style="padding-left:unset;">
                        <form action="/admin/characterInfo/delete?id=@Model.CharacterID" method="post" enctype="multipart/form-data" style="text-decoration: none;">
                            @Html.AntiForgeryToken()
                            <button class="btn btn-lg btn-danger btn-login fw-bold text-uppercase" type="submit"><i class="pe-7s-trash btn-icon-wrapper"> Delete</i></button>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="d-grid my-3 col-md-12" style="padding-left:unset;">
                        <a href="/admin/characterInfo/index" style="text-decoration: none;">
                            <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="submit"><i class="pe-7s-back btn-icon-wrapper"> Back to List</i></button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
