@model GIFanpage.Models.New

@{
    ViewBag.Title = "Create";
}
<style>
    .form-group, input {
        margin-top: 10px;
    }
</style>
<h2>Create</h2>

<div class="container p-5" style="margin-top: 18px; margin-bottom: 15px; min-height: 448px;">
    <div class="row  d-flex justify-content-center shadow-lg">
        <div class="col-md-10">
            <h2 style="padding-top: 20px;">New's Information Form</h2>
            <i class="text-secondary" style="font-size: 14px;">
                Update hot news in Teyvat world !!!
            </i>
            <hr />
            <form action="/news/create" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.TextBoxFor(model => model.CreateDate, new { @Value = DateTime.Now, @type = "hidden" })
                <div class="row  d-flex justify-content-center">
                    <div class="form-group col-md-12">
                        <label for="NewsTitle">New's Title</label>
                        <textarea rows="2" name="NewsTitle" id="NewsTitle" class="form-control" required></textarea>
                        @Html.ValidationMessageFor(model => model.NewsTitle, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-12">
                        <label for="NewsDescription">New's Description</label>
                        <textarea rows="2" name="NewsDescription" id="NewsDescription" class="form-control" required></textarea>
                        @Html.ValidationMessageFor(model => model.NewsDescription, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-12">
                        <label>Image News</label>
                        <br />
                        <input type="file" name="fileNew" class="form-control-file" required>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="NewsContent">New's Content</label>
                        <textarea rows="5" name="NewsContent" id="NewsTitle" class="form-control" required></textarea>
                        @Html.ValidationMessageFor(model => model.NewsContent, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-12" style="display: flex; justify-content: flex-start; margin-top: 15px; margin-bottom: 20px;">
                        <button type="submit" class="btn btn-primary" id="add-button" style="top: auto; left: 0;">Save</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

           