@model GIFanpage.Models.Ask

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .hidden {
        display: none;
    }
</style>


<div class="container mb-5 mt-5">


    <div class="row  d-flex justify-content-center">
        <br />
        <div class="col-md-10">

            <div class="card p-3 ">

                <div class="d-flex  align-items-center" style="max-width: 100%;">

                    <div class="user d-flex flex-row" style="display: flex; align-items: flex-start;">

                        <div style="display: flex; flex-direction: column; align-items: center; ">
                            <img src="@Url.Content(Model.User.UserImg)" width="45" height="45" class="user-img rounded-circle mr-2" style="display:flex; align-items:flex-start;">
                            <i class="fa fa-thumb-tack" aria-hidden="true" style="padding-top: 15px;"></i>
                            <i class="fa fa-check" aria-hidden="true" style="padding-top: 15px;" hidden></i>
                        </div>

                        <span style="padding-left: 15px; min-width: 80%;">
                            <small class="font-weight-bold text-dark" style="font-size: 20px;"> @Model.Title </small>
                            <small class="font-weight-bold text-white" style="font-size:20px; color: white; cursor:unset;"> (Genshin impact is an story game that tell that tell about traveler's Aether) </small>
                            <br />
                            <span style="display: flex;">
                                <small class="font-weight-bold text-primary" style="font-size: 14px; padding-right: 10%;"> @Model.User.Name</small>
                                <small class="font-weight-light text-secondary" style="padding-right: 10%;"><i class="fa fa-calendar"></i> @Model.CreateDate</small>
                                <small class="font-weight-light text-secondary" style="padding-right: 10%;"><i class="fa fa-eye"></i> @Model.ViewCount</small>
                                <small class="font-weight-light text-secondary"><i class="fa fa-book"></i> @Model.Category.CategoryName</small>
                            </span>
                            <hr />
                            <p style="padding-top: 8px;"> @Model.Description</p>
                            @{
                                var filePath = Model.FilePath;
                                if (filePath == null)
                                {

                                }
                                else
                                {
                                    <div style="display: flex; justify-content: center;">
                                        <img src="@Url.Content(Model.FilePath)" style="width: 60%;" />
                                    </div>
                                }
                            }
                            <p style="padding-top: 8px;">@Html.Raw(Model.Content)</p>
                        </span>
                    </div>
                </div>

                <div class="action d-flex justify-content-between mt-2 align-items-center">

                    <div class="reply px-4">
                        <small><i class="fa fa-comment"></i> @Model.CommentCount  </small>
                        @*<span class="dots" style="padding-left: 10px;"></span>
                            <small><i class="fa fa-thumbs-up"> Like </i></small>
                            <span class="dots" style="padding-left: 10px;"></span>
                            <small><i class="fa fa-thumbs-o-up"> 6 </i></small>*@
                    </div>

                    <div class="icons align-items-center">
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-check-circle-o check-icon"></i>
                    </div>

                </div>

            </div>
            <form action="/asks/AddComment?cmtID=@Model.AskID" method="post">
                <div class="bg-light mt-2 p-3">
                    <div class="d-flex flex-row align-items-start">
                        <textarea rows="3" class="form-control shadow-none textarea" name="Content" style="margin-left: 15px;" required></textarea>
                        <input type="hidden" name="CommentDate" value="@DateTime.Now" />
                        <input type="hidden" name="AskID" value="@Model.AskID" />
                        <input type="text" name="CurrentUserVoteType" value="0" hidden />
                        <input type="hidden" name="UserID" value="@Session["CurrentUserID"]" />
                    </div>
                    <div class="mt-2 text-right" style="display: flex; justify-content: flex-end;">
                        <button class="btn btn-primary btn-sm shadow-none" type="submit">Post comment</button>

                    </div>
                </div>
            </form>
            <br />

            @if (Model.CommentCount == 0)
            {
                <p>Don't have any comment</p>
            }
            else if (Model.CommentCount == 1)
            {
                <h3> 1 Comment</h3>
            }
            else
            {
                <h3>@Model.CommentCount Comments</h3>
            }
            <br />
            @for (int i = 0; i < Model.CommentCount; i++)
            {
                <div class="card p-3" style="margin-bottom: 10px;">

                    <div class="d-flex justify-content-between align-items-center">

                        <div class="user d-flex flex-row" style="display: flex; align-items: flex-start;">
                            <div style="display: flex; flex-direction: column; align-items: center; ">
                                <img src="@Url.Content(Model.Comments[i].User.UserImg)" width="45" class="user-img rounded-circle mr-2" style="display:flex; align-items:flex-start;">

                                @if (Model.UserID == Convert.ToInt32(Session["CurrentUserID"]))
                                {
                                    if (Model.IsTrue)
                                    {
                                        if (Model.Comments[i].IsTrue)
                                        {
                                            <a href="/asks/unCheck?ask=@Model.AskID&Cmt=@Model.Comments[i].CommentID">  <i class="fa fa-thumb-tack" aria-hidden="true" style="padding-top: 15px;"></i></a>

                                        }

                                    }
                                    else
                                    {

                                        <a href="/asks/check?ask=@Model.AskID&Cmt=@Model.Comments[i].CommentID"> <i class="fa fa-check" aria-hidden="true" style="padding-top: 15px;"></i></a>
                                    }
                                }
                                else
                                {
                                    if (Model.IsTrue)
                                    {
                                        if (Model.Comments[i].IsTrue)
                                        {
                                            <i class="fa fa-thumb-tack" aria-hidden="true" style="padding-top: 15px;"></i>

                                        }

                                    }
                                    else
                                    {

                                        <i class="fa fa-check" aria-hidden="true" style="padding-top: 15px;"></i>
                                    }
                                }

                            </div>

                            <span style="padding-left: 15px;">
                                <small class="font-weight-bold text-primary" style="font-size: 16px;"> @Model.Comments[i].User.Name</small>
                                <br />
                                <small class="font-weight-bold text-secondary"><i class="fa fa-calendar"></i> @Model.Comments[i].CommentDate </small>
                                <p style="padding-top: 8px; color: black;"> @Model.Comments[i].Content</p>
                            </span>
                        </div>
                    </div>

                    <div class="action d-flex justify-content-between mt-2 align-items-center">
                        @if (@Model.Comments[i].CurrentUserVoteType < 1)
                        {
                            <form action="/asks/like?ask=@Model.AskID&cmt=@Model.Comments[i].CommentID &user=@Session["CurrentUserID"]" method="post">
                                <div class="reply px-4">
                                    <small><i class="fa fa-comment"></i> @Model.Comments[i].SubCommentCount </small>
                                    <span class="dots" style="padding-left: 10px;"></span>
                                    <small><button type="submit" style="border: unset; background-color: white;"><i class="fa fa-thumbs-o-up"></i>  Like </button></small>
                                    <span class="dots" style="padding-left: 10px;"></span>
                                    <small><button type="button" style="border: unset; background-color: white;"><i class="fa fa-thumbs-o-up"> @Model.Comments[i].VotesCount</i> </button></small>

                                </div>
                                <input type="hidden" name="UserID" value="@Session["CurrentUserID"]" />
                                <input type="hidden" name="CommentID" value="@Model.Comments[i].CommentID" />
                                <input type="hidden" name="VoteValue" value="1" />
                            </form>
                            if (Convert.ToInt32(Session["CurrentUserID"]) == Model.Comments[i].UserID)
                            {
                                <small><a href="" id="button-edit" style="text-decoration: none;">Edit</a></small>
                            }
                            else
                            {
                                <span class="dots" style="padding-left: 10px;"></span>
                            }

                        }
                        else
                        {
                            <form action="/asks/dislike?ask=@Model.AskID&Cmt=@Model.Comments[i].CommentID&user=@Session["CurrentUserID"]" method="post">
                                <div class="reply px-4">
                                    <small><i class="fa fa-comment"></i> @Model.Comments[i].SubCommentCount </small>
                                    <span class="dots" style="padding-left: 10px;"></span>
                                    <small><button type="submit" style="border: unset; background-color: white;"><i class="fa fa-thumbs-up"></i>  Dislike </button></small>
                                    <span class="dots" style="padding-left: 10px;"></span>
                                    <small><button type="button" style="border: unset; background-color: white;"><i class="fa fa-thumbs-up"> @Model.Comments[i].VotesCount</i> </button></small>
                                </div>
                                <input type="hidden" name="UserID" value="@Session["CurrentUserID"]" />
                                <input type="hidden" name="CommentID" value="@Model.Comments[i].CommentID" />
                                <input type="hidden" name="VoteValue" value="-1" />
                            </form>
                            if (Convert.ToInt32(Session["CurrentUserID"]) == Model.Comments[i].UserID)
                            {
                                <small><a href="" id="button-edit" style="text-decoration: none;">Edit</a></small>
                            }
                            else
                            {
                                <span class="dots" style="padding-left: 10px;"></span>
                            }
                        }



                        <div class="icons align-items-center">
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-check-circle-o check-icon"></i>
                        </div>

                    </div>
                    @if (Convert.ToInt32(Session["CurrentUserID"]) == Model.Comments[i].UserID)
                    {

                        <div class="bg-light mt-2 p-3 hidden" id="edit-form">
                            <form action="/asks/EditComment?cmtID=@Model.AskID" method="post">
                                <div class="d-flex flex-row align-items-start">
                                    <textarea rows="3" class="form-control shadow-none textarea" name="Content" placeholder="@Model.Comments[i].Content" style="margin-left: 15px;" required></textarea>
                                    <input type="hidden" name="CommentID" value="@Model.Comments[i].CommentID" />
                                    <input type="hidden" name="CommentDate" value="@DateTime.Now" />
                                    <input type="hidden" name="AskID" value="@Model.AskID" />
                                    <input type="text" name="CurrentUserVoteType" value="0" hidden />
                                    <input type="hidden" name="UserID" value="@Session["CurrentUserID"]" />
                                    <input type="hidden" name="IsHidden" value="@Model.Comments[i].IsHidden" />
                                </div>
                                <div class="mt-2 text-right" style="display: flex; justify-content: flex-end;">
                                    <button class="btn btn-primary btn-sm shadow-none" type="submit">Edit</button>

                                </div>
                            </form>
                        </div>



                    }

                </div>

                for (int j = 0; j < Model.Comments[i].SubCommentCount; j++)
                {
                    <div class="row" style="display: flex; justify-content: flex-end;">
                        <div class="col-md-11">
                            <div class="card p-3" style="margin-bottom: 10px;">

                                <div class="d-flex justify-content-between align-items-center">

                                    <div class="user d-flex flex-row" style="display: flex; align-items: flex-start;">
                                        <div style="display: flex; flex-direction: column; align-items: center; ">
                                            <img src="@Url.Content(Model.Comments[i].SubComments[j].User.UserImg)" width="45" class="user-img rounded-circle mr-2" style="display:flex; align-items:flex-start;">
                                        </div>

                                        <span style="padding-left: 15px;">
                                            <small class="font-weight-bold text-primary" style="font-size: 16px;"> @Model.Comments[i].SubComments[j].User.Name</small>
                                            <br />
                                            <small class="font-weight-bold text-secondary"><i class="fa fa-calendar"></i> @Model.Comments[i].SubComments[j].SubCommentDate </small>
                                            <p style="padding-top: 8px; color: black;"> @Model.Comments[i].SubComments[j].Content</p>
                                        </span>
                                    </div>
                                </div>

                                <div class="action d-flex justify-content-between mt-2 align-items-center">
                                    <div class="reply px-4">
                                        <small><i class="fa fa-comment"></i> </small>
                                        <span class="dots" style="padding-left: 10px;"></span>
                                        <small><button type="submit" style="border: unset; background-color: white;"><i class="fa fa-thumbs-o-up"></i>  Like </button></small>
                                        <span class="dots" style="padding-left: 10px;"></span>
                                        <small><button type="button" style="border: unset; background-color: white;"><i class="fa fa-thumbs-o-up"> @Model.Comments[i].VotesCount</i> </button></small>
                                    </div>

                                    @if (Convert.ToInt32(Session["CurrentUserID"]) == Model.Comments[i].SubComments[j].UserID)
                                    {
                                    <small><a href="" id="" style="text-decoration: none;">Edit</a></small>
                                    }
                                    else
                                    {
                                    <span class="dots" style="padding-left: 10px;"></span>
                                    }

                                    <div class="icons align-items-center">
                                        <i class="fa fa-star text-warning"></i>
                                        <i class="fa fa-check-circle-o check-icon"></i>
                                    </div>

                                </div>

                                @if (Convert.ToInt32(Session["CurrentUserID"]) == Model.Comments[i].SubComments[j].UserID)
                                {

                            <div class="bg-light mt-2 p-3 " id="">
                                <form action="/asks/EditSubComment?askID=@Model.AskID&subCmtID=@Model.Comments[i].CommentID" method="post">
                                    <div class="d-flex flex-row align-items-start">
                                        <textarea rows="3" class="form-control shadow-none textarea" name="Content" placeholder="@Model.Comments[i].SubComments[j].Content" style="margin-left: 15px;" required></textarea>
                                        <input type="hidden" name="SubCommentID" value="@Model.Comments[i].SubComments[j].SubCommentID" />
                                        <input type="hidden" name="SubCommentDate" value="@DateTime.Now" />
                                        <input type="hidden" name="CommentID" value="@Model.Comments[i].CommentID" />

                                        <input type="hidden" name="UserID" value="@Session["CurrentUserID"]" />

                                    </div>
                                    <div class="mt-2 text-right" style="display: flex; justify-content: flex-end;">
                                        <button class="btn btn-primary btn-sm shadow-none" type="submit">Edit</button>

                                    </div>
                                </form>

                                
                            </div>



                                }

                                @*@if (@Model.Comments[i].CurrentUserVoteType < 1)
        {
            <form action="/asks/like?ask=@Model.AskID&cmt=@Model.Comments[i].CommentID &user=@Session["CurrentUserID"]" method="post">
                <div class="reply px-4">
                    <small><i class="fa fa-comment"></i> @Model.Comments[i].SubCommentCount </small>
                    <span class="dots" style="padding-left: 10px;"></span>
                    <small><button type="submit" style="border: unset; background-color: white;"><i class="fa fa-thumbs-o-up"></i>  Like </button></small>
                    <span class="dots" style="padding-left: 10px;"></span>
                    <small><button type="button" style="border: unset; background-color: white;"><i class="fa fa-thumbs-o-up"> @Model.Comments[i].VotesCount</i> </button></small>

                </div>
                <input type="hidden" name="UserID" value="@Session["CurrentUserID"]" />
                <input type="hidden" name="CommentID" value="@Model.Comments[i].CommentID" />
                <input type="hidden" name="VoteValue" value="1" />
            </form>
            if (Convert.ToInt32(Session["CurrentUserID"]) == Model.Comments[i].UserID)
            {
                <small><a href="" id="button-edit" style="text-decoration: none;">Edit</a></small>
            }
            else
            {
                <span class="dots" style="padding-left: 10px;"></span>
            }

        }
        else
        {
            <form action="/asks/dislike?ask=@Model.AskID&Cmt=@Model.Comments[i].CommentID&user=@Session["CurrentUserID"]" method="post">
                <div class="reply px-4">
                    <small><i class="fa fa-comment"></i> 10 </small>
                    <span class="dots" style="padding-left: 10px;"></span>
                    <small><button type="submit" style="border: unset; background-color: white;"><i class="fa fa-thumbs-up"></i>  Dislike </button></small>
                    <span class="dots" style="padding-left: 10px;"></span>
                    <small><button type="button" style="border: unset; background-color: white;"><i class="fa fa-thumbs-up"> @Model.Comments[i].VotesCount</i> </button></small>
                </div>
                <input type="hidden" name="UserID" value="@Session["CurrentUserID"]" />
                <input type="hidden" name="CommentID" value="@Model.Comments[i].CommentID" />
                <input type="hidden" name="VoteValue" value="-1" />
            </form>
        }*@


                                @*@if (Convert.ToInt32(Session["CurrentUserID"]) == Model.Comments[i].UserID)
        {

            <div class="bg-light mt-2 p-3 hidden" id="edit-form">
                <form action="/asks/EditComment?cmtID=@Model.AskID" method="post">
                    <div class="d-flex flex-row align-items-start">
                        <textarea rows="3" class="form-control shadow-none textarea" name="Content" placeholder="@Model.Comments[i].Content" style="margin-left: 15px;" required></textarea>
                        <input type="hidden" name="CommentID" value="@Model.Comments[i].CommentID" />
                        <input type="hidden" name="CommentDate" value="@DateTime.Now" />
                        <input type="hidden" name="AskID" value="@Model.AskID" />
                        <input type="text" name="CurrentUserVoteType" value="0" hidden />
                        <input type="hidden" name="UserID" value="@Session["CurrentUserID"]" />
                        <input type="hidden" name="IsHidden" value="@Model.Comments[i].IsHidden" />
                    </div>
                    <div class="mt-2 text-right" style="display: flex; justify-content: flex-end;">
                        <button class="btn btn-primary btn-sm shadow-none" type="submit">Edit</button>

                    </div>
                </form>
            </div>



        }*@

                            </div>
                        </div>
                    </div>

                }
                <div class="row" style="display: flex; justify-content: flex-end;">
                    <div class="col-md-11">
                        <form action="/asks/AddSubComment?askID=@Model.AskID&subCmtID=@Model.Comments[i].CommentID" method="post">
                            <div class="bg-light mt-2 mb-3 p-3">
                                <div class="d-flex flex-row align-items-start">
                                    <textarea rows="3" class="form-control shadow-none textarea" name="Content" style="margin-left: 15px;" required></textarea>
                                    <input type="hidden" name="SubCommentDate" value="@DateTime.Now" />
                                    <input type="hidden" name="CommentID" value="@Model.Comments[i].CommentID" />

                                    <input type="hidden" name="UserID" value="@Session["CurrentUserID"]" />
                                </div>
                                <div class="mt-2 text-right" style="display: flex; justify-content: flex-end;">
                                    <button class="btn btn-primary btn-sm shadow-none" type="submit">Reply comment</button>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<button onclick="topFunction()" class="btn btn-danger btn-floating btn-lg" id="myBtn" title="Go to top" style="position: fixed; right: 30px; bottom: 100px; display: none;">
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
</button>


<script>
    const button = document.querySelectorAll("#button-edit");
    const editForm = document.querySelectorAll("#edit-form");

    function handleClick(e) {
        e.preventDefault();
        for (i = 0; i < button.length; i++) {
            editForm[i].classList.toggle("hidden");
        };

    }

    for (i = 0; i < editForm.length; i++) {
        button[i].addEventListener("click", handleClick);
    }

    //Get the button:
    mybutton = document.getElementById("myBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }

</script>
